<%= turbo_frame_tag @contact do %>
  <div style="background-color:white;" class="list-group-item justify-content-between align-items-center">
    <%= render "form", contact: @contact %>
  </div>
<% end %>
